* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8e8c8cde;
}

.calendario {
    width: 60%;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.mes-ano {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #210762;
    color: white;
}

.mes-ano h2 {
    margin: 0;
    font-size: 1.2rem;
}

.mes-ano button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.dias-semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: #f8f9fa;
    padding: 10px 0;
}

.dias-semana h3 {
    text-align: center;
    font-size: 0.9rem;
    color: #6c757d;
}

.dias-numero {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px 0;
}

.dia {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
}

.dia-num {
    cursor: pointer;
    transition: background 0.3s;
}

.dia-num:hover {
    background: #007bff;
    color: white;
}

.dia-caixa {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
}
.task-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

.task-form form {
    display: flex;
    flex-direction: column;
}

.task-form label {
    margin-top: 10px;
}

.task-form input, .task-form textarea {
    margin-top: 5px;
}

.task-form button {
    margin-top: 15px;
}